<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
<taglib>
<!-- Use as the URI in your JSP file -->
<taglib-uri>
/showFormTag
</taglib-uri>
<taglib-location>
<!-- Location and name of .tld file -->
<!-- Resolves the URI -->
/WEB-INF/taglib.tld
</taglib-location>
</taglib>
</web-app>